@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-exo2: "Exo 2", sans-serif;
  --font-lexend-exa: "Lexend Exa", sans-serif;
}

.font-exo2 {
  font-family: var(--font-exo2);
}

.font-lexend-exa {
  font-family: var(--font-lexend-exa);
}
